.navbar {
  &.background-nav{
    background-color: #007bff;
  }

    

    .container-fluid {
      display: flex;
      justify-content: space-between;
  
      .navbar-collapse {
        justify-content: flex-end;
        margin-right: 45px;
      }
  
      .navbar-nav {
        .nav-link {
          color: rgb(192, 189, 189); 
          transition: color 0.3s;
  
          &:hover {
            color: white;
            transition: 1.4s; 

          }

        }
      }
    }
 }


  
