.navbar {
    .container-fluid {
      display: flex;
      justify-content: space-between;
  
      .navbar-collapse {
        justify-content: flex-end;
        margin-right: 45px;
      }
  
      .navbar-nav {
        .nav-link {
          color: #555; 
          transition: color 0.3s;
  
          &:hover {
            color: #007bff;
          }

        }
      }
    }
  
 
  }


  
